@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body{
    margin: 0;
    padding: 0;
}

.mainbody{
    padding: 2% ;
}

.body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

header {
  position: fixed;
  background-color: #115cb1;
  padding: 20px;
  height: 35px;
  width: 100%;
}

.topic-head{
  padding-top: 20px;
  padding-bottom: 2%;
}

.topic-left {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.add_button {
  padding: 7px;
  background-color: #0cc43a;
  text-decoration: none;
  float: right;
  margin-top: -37px;
  font-size: 14px;
  padding: 8px;
  border-radius: 8px;
  color: aliceblue;
  transition: 1s;
}

.add_button:hover {
  background: #23a309;
  text-decoration: none;
  border-radius: 8px;
  color: aliceblue;
}

.Heading{
  font-size: 24px;
  font-weight: 400;
}

td {
  font-size: 13px;
}
thead{
  font-size: 14px;
  font-weight: 600;
}

td a{
  color: #1100ff;
  font-weight: 600;
}
td a:hover{
  color: #ff6060;
  text-decoration: none;
}

.sub-topic {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 2%;
  letter-spacing: 1px;
}
